{% extends 'layout.html' %}

{% block body %}

    <div class="jumbotron text-center">
        <h1>Welcome to the Great Number Game</h1>
        <p class="lead">I am thinking of a number between 1 and 100</p>
        <p class="lead">Take a guess!</p>
    </div>

    <div id="container">
        <form method="post" action="/process">
            <input type="hidden" name="action" value="reload">
            <input type="number" name="myNumber" min="1" max="100">         
            <button class="btn btn-primary" type="submit" value="Submit">Submit</button>
        </form>

        {% if find == 2  %}
            {% set find = '' %}     
            <h2>To high! </h2>
        {% endif %}

        {% if find == 0  %}
            {% set find = '' %} 
            <h2>To low! </h2>
        {% endif %}
    </div>

{% endblock %}