<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='my_style_sheet.css')}}">
        <title>Dojo Survey</title>
    </head> 
    <body>       
            
        <h2>Dojo Survey Index</h2>

        <div id="main_content">
            <form action='/result' method='post'>


                <label>Your Name</label>
                <input name='name' type="text"><br>

                <label>Dojo Location</label>
                <select name="unit">
                    <option>San Jose</option>
                    <option>Bellevue</option>
                    <option>Burbank</option>
                    <option>Dallas</option>
                    <option>Maclean</option>
                    <option>Chicago</option>
                    <option>Tulsa</option>
                </select><br>

                <label>Favorite Language</label>
                <select name="language">
                    <option>Python</option>
                    <option>Java</option>
                    <option>.NET/C#</option>
                    <option>Ruby on Rails</option>
                    <option>MEAN</option>
                    <option>iOS Swift</option>
                </select><br>

                <label>Comment (optional):</label>
                <textarea name="comment"></textarea><br>
            
                <button type="submit">Submit</button>

            </form>
        </div>    

    </body>
</html>